html {
  height: 100%;
}

body {
  background-image: url("/media/image.png");
  max-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-color: #f8f8f6;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 6vw;
  font-weight: bold;
}
h3,
h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
hr {
  background-color: cadetblue;
}
a {
  text-decoration: none;
}

h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: var(--accent-color);
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}

.navbar-nav {
  width: 100%;
  font-weight: bold;
}

.bg {
  background-color: rgb(248, 248, 246, 0.7);
}
.hero {
  margin-top: 300px;
}
.hr {
  width: 50vw;
}
.top {
  margin-top: 10%;
}

.open-source-link,
.open-source-link:hover {
  color: #3edce0;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  .sm-bg {
    background-color: white;
  }
  .row .bg {
    background-color: rgb(248, 248, 246, 0);
  }
  .hero,
  .fixed-top .bg {
    background-color: rgb(248, 248, 246, 0.7);
  }
}
@media (min-width: 988px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 60px;
  }
}
